  html,body {
  height: 100%;
}
body{
	
	background: url("Pic/front_background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}
#content{
  position: relative;
	height: 100%;
	width: 70%;
	margin: 0 15%;
}

#titlediv{
	height: 20vh;
}
#button{
  position: absolute;
  width: 100%;
  height: auto;
}

#title{
  
  margin-top: 30%;
  width: 100%;  	
	height: auto;
}
.button {
  position: absolute;
	margin: 0  auto;
  margin-top: 30%;
	width: 100%;
	height: auto;	  
}
#animationdiv{
  height: 50vh;
  
}
#house{
  position: absolute;
	bottom: 5vh;
	margin: 0 0;
	width: 100%;
	height: auto;
}
#sheet{
  position: absolute;
  top: 35%;
  height: auto;
  width: 100%;
  display: none;
}  
#sheet form{ 
 margin: 0 40%;
}
#test{
  position: absolute;
  width: 20%;
  height: 4%;
  top: 50%;
  margin: 0 40%;
  z-index: 1;
}
#test1{
  position: absolute;
  width: 40%;
  height: 4%;
  top: 45%;
  margin: 0 30%;
  z-index: 1;
}
#man{
  position: absolute;
	bottom: 5vh;
	margin: 0 45%;
	z-index: 1;
	width: 10%;
	height: auto;	
}

