body{
    background-image: url("../img/background.png");
    background-size: cover;
}

.mapbut{
    height: 7% ;
    width: 7% ;
    border-radius: 50%;
    margin-left: 5%;
}

.misbut{
    height: 7% ;
    width: 7% ;
    border-radius: 50%;
}

.collectbut{
    height: 7% ;
    width: 7% ;
    border-radius: 50%;
}


.str1{
    position:absolute;
    top:5%;
    right:5%;
    height:5% ;
    width: 10%;
}

.str2{
    position:absolute;
    top:5%;
    right:15%;
    height:5% ;
    width: 10%;
}

.str3{
    position:absolute;
    top:5%;
    right:25%;
    height:5% ;
    width: 10%;
}
.flexslider{
    text-align: center;
}
.stuff{
    position: absolute;
    top: 1.5vh;
    z-index: 1;
    display: none; 
    height: 5px;
    width: 5px;
}
#map{
  left: 8vw;
}
#mis{
    left: 16vw;
}
#collect{
    left: 24vw;
    border: black 2px solid;
}
.stuff  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
}
/*
.setmenu{
    
    background-image: url("../img/menu.png");
    width: 20%;
    height: 0;
    
}

#butback1{
    z-index:2;
    width: inherit;
} 
#butback2{
    z-index:2;
    height: inherit;
} 
