
@media screen and (max-width: 600px){
    
    img {
        max-width: 100%;
    }
    
    body{
        background-image: url("../img/background.png");
        background-size: cover;
        overflow: hidden;
    }

    #clock{
        display: none;
    }
    
    .mapbut{
        
        height: 7% ;
        width: 7% ;
        border-radius: 50%;
        margin-left: 5%;
    }

    .misbut{
        height: 7% ;
        width: 7% ;
        border-radius: 50%;
    }

    .collectbut{
        height: 7% ;
        width: 7% ;
        border-radius: 50%;
    }


    .str3{
        position:absolute;
        top:1%;
        right:5%;
        height:5% ;
        width: 10%;
    }

    .str2{
        position:absolute;
        top:1%;
        right:15%;
        height:5% ;
        width: 10%;
    }

    .str1{
        position:absolute;
        top:1%;
        right:25%;
        height:5% ;
        width: 10%;
    }
    /*----------------setMenu--------------------------*/
    .setMenu{
        position: absolute;
        background-image: url("../img/menu.png");
        background-repeat: no-repeat;
        background-size: cover; 
        left:5%;
        top :-77%;
        width: 85%;
        height: 83%;
        z-index: 6;
        cursor: pointer;
    
    }
    #s1{
        position:absolute;
        left:8%;
        top:15%;
        font-size: 220%;
        font-weight: 1200;
    }
    
    #s2{
        position:absolute;
        left:8%;
        top:27%;
        font-size: 220%;
    }
    
    #s3{
        position: absolute;
        left:28%;
        bottom:42%;
        font-size: 220%;
    }
    
    #s4{
        position: absolute;
        left:28%;
        bottom: 24%;
        font-size: 220%;
    }
    
    .ON1{
        position:absolute;
        right:32%;
        top:18.5%;
        width: 10%;
        z-index: 4;
    }
    
    .OFF1{
        position:absolute;
        right:14%;
        top:18.5%;
        width: 13%;
        z-index: 4;
    }
    
    .ON2{
        position:absolute;
        right:32%;
        top:30%;
        width: 10%;
        z-index: 4;
    }
    
    .OFF2{
        position:absolute;
        right:14%;
        top:30%;
        width: 13%;
        z-index: 4;
    }
    
    .button1{
        position:absolute;
        width:16%;
        right:28%;
        top:17%;
        z-index: 3;
    }
    
    .button2{
        position:absolute;
        width:16%;
        right:28%;
        top:28.5%;
        z-index: 3;
    }
    
    .button3{
        position:absolute;
        width: 50%;
        left:25%;
        bottom: 25%;
        
    }
    
    .button4{
        position:absolute;
        width: 50%;
        left:25%;
        bottom: 43%;
        
    }
    
    .flexslider{
        text-align: center;
        height: 10%;
        width: 100%;
    }
    
     #player{
        position: absolute;
        height: 20%;
        width: 20%;
        bottom:10%;
        left:0%;
        width: auto;
        z-index: 4;
    }
    
/*Jan*/
    #jan{
        position:relative;
        left:0%;
        width: 100%;
        background-image: url("../Scenes/Jan-background.png");
    }
    
    
    #jan-o{       
        position:relative;
        width:auto; 
        z-index: 3;
    }
    
    #jan-r{
        position: absolute;
        top:35%;
        left:0%;
        width: auto;
        z-index: 4;
    }

    /*Fu*/
    #fu{
        position:relative;
        left:0%;
        width: 110%;
        background-image: url("../Scenes/Fu-background.png");
    }
    
    
    #fu-o{       
        position:relative;
        width:auto; 
        z-index: 3;
    }
    
    #fu-r{
        position: absolute;
        top:30%;
        left:0%;
        width: auto;
        z-index: 4;
    }
    
    
    .stuff{
        position: absolute;
        top: 1.5vh;
        z-index: 1;
        display: none; 
        height: 5px;
        width: 5px;
    }
    #map{
      left: 8vw;
    }
    #mis{
        left: 16vw;
    }
    #collect{
        left: 24vw;
        border: black 2px solid;
    }
    .stuff img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        max-width: 100%;
    }
}

/*------------------------------------big screen ---------------------*/

@media screen and (min-width: 601px){

    img {
        max-width: 100%;
    }
    
    body{
        background-image: url("../img/background.png");
        background-size: cover;
    }
    
    #clock{
        position:absolute;
        right:20%;
        top:12%
    }
    .mapbut{
        height: 7% ;
        width: 7% ;
        border-radius: 50%;
        margin-left: 5%;
    }

    .misbut{
        height: 7% ;
        width: 7% ;
        border-radius: 50%;
    }

    .collectbut{
        height: 7% ;
        width: 7% ;
        border-radius: 50%;
    }



    .str3{
        position:absolute;
        top:5%;
        right:5%;
        height:5% ;
        width: 10%;
    }

    .str2{
        position:absolute;
        top:5%;
        right:15%;
        height:5% ;
        width: 10%;
    }

    .str1{
        position:absolute;
        top:5%;
        right:25%;
        height:5% ;
        width: 10%;
    }
    /*-----------------setMenu------------------*/
    .setMenu{
        position: absolute;
        background-image: url("../img/menu.png");
        background-repeat: no-repeat;
        background-size: cover; 
        left:35%;
        top :-77%;
        width: 27%;
        height: 83%;
        z-index: 6;
        cursor: pointer;
    
    }
    #s1{
        position:absolute;
        left:8%;
        top:15%;
        font-size: 250%;
        font-weight: 1200;
    }
    
    #s2{
        position:absolute;
        left:8%;
        top:27%;
        font-size: 250%;
    }
    
    #s3{
        position: absolute;
        left:28%;
        bottom:42%;
        font-size: 250%;
    }
    
    #s4{
        position: absolute;
        left:28%;
        bottom: 24%;
        font-size: 250%;
    }
    
    .ON1{
        position:absolute;
        right:32%;
        top:18.5%;
        width: 10%;
        z-index: 4;
    }
    
    .OFF1{
        position:absolute;
        right:14%;
        top:18.5%;
        width: 13%;
        z-index: 4;
    }
    
    .ON2{
        position:absolute;
        right:32%;
        top:30%;
        width: 10%;
        z-index: 4;
    }
    
    .OFF2{
        position:absolute;
        right:14%;
        top:30%;
        width: 13%;
        z-index: 4;
    }
    
    .button1{
        position:absolute;
        width:16.5%;
        right:28%;
        top:16.5%;
        z-index: 3;
    }
    
    .button2{
        position:absolute;
        width:16.5%;
        right:28%;
        top:28%;
        z-index: 3;
    }
    
    .button3{
        position:absolute;
        width: 50%;
        left:25%;
        bottom: 25%;
        
    }
    
    .button4{
        position:absolute;
        width: 50%;
        left:25%;
        bottom: 43%;
        
    }
    .flexslider{
        left:35%;
        width: 25%;
        height: 50%;
    }
    
   
        
   
    
    #player{
        position: absolute;
        height: 20%;
        width: 20%;
        bottom:23%;
        left:35%;
        width: auto;
        z-index: 4;
    }
    
/*Jan*/
    #jan{
        position:relative;
        left:0%;
        width: 100%;
        background-image: url("../Scenes/Jan-background.png");
    }
    
    
    #jan-o{       
        position:relative;
        width:auto; 
        z-index: 3;
    }
    
    #jan-r{
        position: absolute;
        top:35%;
        left:0%;
        width: auto;
        z-index: 4;
    }
    
    

/*Fu*/
    #fu{
        position:relative;
        left:0%;
        width: 100%;
        
        background-image: url("../Scenes/Fu-background.png");
    }
    
    
    #fu-o{       
        position:relative;
        width:auto; 
        z-index: 3;
    }
    
    #fu-r{
        position: absolute;
        top:30%;
        left:0%;
        width: auto;
        z-index: 4;
    }
    
    .stuff{
        position: absolute;
        top: 1.5vh;
        z-index: 8;
        display: none; 
        height: 5px;
        width: 5px;
    }
    #map{
      left: 8vw;
    }
    #mis{
        left: 16vw;
    }
    #collect{
        left: 24vw;
        border: black 2px solid;
    }
    
    .stuff img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        max-width: 100%;
    }
    
}
