@media screen and (max-width: 600px){
    a{
        color:inherit;
    }
    #hideAll
    {
       position: fixed;
       left: 0px; 
       right: 0px; 
       top: 0px; 
       bottom: 0px; 
       background-color: white;
       z-index: 50; /* Higher than anything else in the document */
        display: block;

    }
    img{
        max-width: 100%;
    }
    
    body{
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size:cover;
        overflow: hidden;
    }
    .mapbut{
        position:absolute;
        left:0%;
        width: 10% ;
        border-radius: 50%;
        margin-left: 5%;
        z-index: 8;
    }

    .misbut{
        position:absolute;
        left:14%;
        
        width: 10% ;
        border-radius: 50%;
        z-index: 8;
    }

    .collectbut{
        position: absolute;
        left:23%;
        
        width: 10% ;
        border-radius: 50%;
        z-index: 8;
    }
    
    .menubut{
        position:absolute;
        top:-8%;
        left:40%;
        width:20%;
        z-index: 5;
        cursor: pointer;
    }
    .stuff{
      position: absolute;
      top: 2vh;
      z-index: 10;
      display: none;
      height: 5px;
      width: 5px;
    }  

    #map{
      left: 9vw;
    }
    #map_back{
      position: absolute;
      //border: black solid 2px;
      top: 84vh;
      width: 18%;
      height: 10%;
      margin: 0 41%;
      border-radius: 50%;
      display: none;  
      z-index: 8;
    } 
    #shards{
      position: absolute;    
      top: 0; 
      z-index: 0;
      display: none;
    }
  
    #mis{
      left: 18vw;
    }
    #collect{
      left: 27vw;
    }
    #collect_img{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      right: 1%;
      top: 0;
    }    
    #collect_back{
      position: absolute;
      //border: black solid 2px;
      top: 78vh;
      width: 20%;
      height: 11%;
      margin: 0 40%;
      border-radius: 50%;  
      z-index: 8;
    }
    #text{
      overflow-y: auto;
      position: absolute;
      //border: black solid 2px;
      top: 22%;
      width: 56%;
      max-height: 48%;
      margin: 0 23%;
      z-index: 8;
    }
    .str3{
        position:absolute;
        top:1%;
        right:5%;
        height:5% ;
        width: 10%;
        z-index: 8;
    }

    .str2{
        position:absolute;
        top:1%;
        right:15%;
        height:5% ;
        width: 10%;
        z-index: 8;
    }

    .str1{
        position:absolute;
        top:1%;
        right:25%;
        height:5% ;
        width: 10%;
        z-index: 8;
    }

    .setMenu{
        position: absolute;
        background-image: url("../img/menu.png");
        background-repeat: no-repeat;
        background-size: contain; 
        left:15%;
        bottom:100%;
        width: 70%;
        height: 70%;
        z-index: 9;
        cursor: pointer;
    
    }
    
    #s1{
        position:absolute;
        left:5%;
        top:12%;
        font-size: 180%;
        font-weight: 1200;
        font-family: "Microsoft JhengHei";
    }
    
    #s2{
        position:absolute;
        left:5%;
        top:22%;
        font-size: 180%;
        font-family: "Microsoft JhengHei";
    }
    
    #s3{
        position: absolute;
        left:28%;
        top:39%;
        font-size: 180%;
        font-family: "Microsoft JhengHei";
    }
    
    #s4{
        position: absolute;
        left:28%;
        top: 54%;
        font-size: 180%;
        font-family: "Microsoft JhengHei";
    }
    
    .ON1{
        position:absolute;
        right:33%;
        top:15%;
        width: 10%;
        z-index: 4;
    }
    
    .OFF1{
        position:absolute;
        right:15%;
        top:15%;
        width: 12%;
        z-index: 4;
    }
    
    .ON2{
        position:absolute;
        right:33%;
        top:25%;
        width: 10%;
        z-index: 4;
    }
    
    .OFF2{
        position:absolute;
        right:15%;
        top:25%;
        width: 12%;
        z-index: 4;
    }
    
    .button1{
        position:absolute;
        width:15%;
        right:30%;
        top:14%;
        z-index: 3;
    }
    
    .button2{
        position:absolute;
        width:15%;
        right:30%;
        top:23.5%;
        z-index: 3;
    }
    
    .button3{
        position:absolute;
        width: 52%;
        left:24%;
        top: 38%;
        
    }
    
    .button4{
        position:absolute;
        width: 52%;
        left:24%;
        top: 53%;
        
    }
    
    .next{
        position: absolute;
        bottom: 0%;
        z-index: 10;
        
    }
    
    #water{
        position:absolute;
        left:-100%;
        z-index: 20;
    }
    
    #End{
        position: absolute;
        left:-100%;
        z-index: 51;
        display: none;
    }
}
